/*
 * spa.smarriage.css
 * Save Marriage namespace styles
 * 挽救婚姻样式表
*/

/* Start : common styles */
/* End : common styles */

/* Start : state - 当下婚姻状态 */
.smarriage-state-main {
	display: flex;
	justify-content: space-around;
}

.smarriage-state-main .icon-txt-group {
	width: 1.6rem;
}

.smarriage-state-main .icon-txt-group img {
	width: 1.22rem;
	height: 1.22rem;
	padding-left: .17rem;
}

.smarriage-state-main .icon-txt-group p {
	width: 100%;
	text-align: center;
}
/* End : state - 当下婚姻状态 */

/* Start : reason - 婚姻危机出现的原因 */
.smarriage-reason-main {
  background: #F4F4F4;
}
.smarriage-reason-main-bg {
  background: url("../images/smarriage/reason-bg.png") center center no-repeat;
  background-size: 100%;
  width: 6.78rem;
  height: 6.5rem;
  margin: 0 auto;
  padding-top: .2rem;
}
/* End : reason - 婚姻危机出现的原因 */

/* Start : advantage - 橘子情感优势 */
/* End : advantage - 橘子情感优势 */

/* Start : method - 错误挽回方式 */
/* End : method - 错误挽回方式 */

/* Start : kind - 擅长挽回的婚姻类型 */
/* End : kind - 擅长挽回的婚姻类型 */

/* Start : service - 能够提供的挽回婚姻服务 */
/* End : service - 能够提供的挽回婚姻服务 */

/* Start : example - 成功案例 */
/* End : example - 成功案例 */

/* Start : mentor - 导师团队 */
/* End : mentor - 导师团队 */

/* Start : progress - 挽回婚姻服务流程 */
/* End : progress - 挽回婚姻服务流程 */
