/*
 * spa.clove.css
 * Customize Love namespace styles
 * 定制爱情样式表
*/

/* Start : reason - 单身原因 */
/* End : reason - 单身原因 */

/* Start : consequence - 错误做法导致后果 */
/* End : consequence - 错误做法导致后果 */

/* Start : customize - 橘子情感定制服务 */
/* End : customize - 橘子情感定制服务 */

/* Start : example - 成功案例 */
/* End : example - 成功案例 */

/* Start : advantage - 橘子优势 */
/* End : advantage - 橘子优势 */

/* Start : mentor - 导师团队 */
/* End : mentor - 导师团队 */

/* Start : instruction - 用户须知 */
/* End : instruction - 用户须知 */

/* Start : step - 服务流程 */
.clove-progress-main {
	background: url(../images/util/progress-bg.png) no-repeat center center;
  background-size: 7.04rem 100%;
  height: 7.67rem;
  margin-top: .3rem;
}
/* End : step - 服务流程 */
