/*
 * spa.slove.css
 * Save Love namespace styles
 * 挽回爱情样式表
*/

/* Start : common styles */
p {
  font-size: .26rem;
  line-height: .36rem;
  color: #333;
  height: 100%;
}
.para-indent {
  text-indent: .5rem;
}
/* End : common styles */

/* Start : sperate - 分手状态 - */
.slove-fail-main {
  background: #eaedf8;
}
.slove-fail-main-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .22rem 0;
  border-bottom: 1px solid #ccd4f3;
}
.slove-fail-main-item:last-child {
  border-bottom: none;
}
.slove-fail-main-item-img {
  width: 1.42rem;
  height: 1.89rem;
  padding-left: .37rem;
}
.slove-fail-main-item-txt {
  width: 5.3rem;
  padding-left: .15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slove-fail-main-item-txt-title {
  font-weight: bold;
  height: .36rem;
  padding-bottom: .08rem;
}
/* End : sperate - 分手状态 - */

/* Start : wrong - 错误做法 */
/* End : wrong - 错误做法 */

/* Start : fail - 挽回失败原因 */
/* End : fail - 挽回失败原因 */

/* Start : advantage - 橘子情感优势 */
/* End : advantage - 橘子情感优势 */


/* Start : kind - 擅长挽回的爱情类型 */
/* End : kind - 擅长挽回的爱情类型 */

/* Start : service - 能够提供的挽回爱情服务 */
/* End : service - 能够提供的挽回爱情服务 */

/* Start : example - 成功案例 */
/* End : example - 成功案例 */

/* Start : mentor - 导师团队 */
/* End : mentor - 导师团队 */

/* Start : step - 挽回爱情服务流程 */
/* End : step - 挽回爱情服务流程 */
